<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Martinez_Bank.Properties.Settings.PCBConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=PCB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	<appSettings>
		<add key="WITHDRAWAL_REPORT" value="resources\reports\WithdrawalReport.rdlc"/>
		<add key="DEPOSIT_HISTORY" value="resources\reports\DepositHistory.rdlc"/>
		<add key="WITHDRAWAL_REPORT_BY_KEY" value="resources\reports\WithdrawHistory.rdlc"/>
		<add key="DEPOSIT_REPORT" value="resources\reports\DepositReport.rdlc"/>
		<add key="DEFAULT_IMG" value="resources\images\default.png"/>
		<add key="EXCESS_PATH" value="\bin\Debug"/>
		<add key="VALID_IMG_FORMAT" value="Image Files(*.jpg; *.jpeg; *.gif; *.bmp; *.png)|*.jpg; *.jpeg; *.gif; *.bmp; *.png"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>